/* Mixins -------------------- */
header {
  background-image: url(../images/nature.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-color: #0009; }

.heading {
  text-align: center;
  font-size: 3em;
  font-family: indie flower;
  letter-spacing: 1.5em;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 200px;
  background-color: #0009; }

.activities {
  text-align: center;
  font-size: 3em;
  font-family: indie flower;
  letter-spacing: 1.5em;
  text-decoration: underline;
  background-color: #9494944d;
  border-radius: 25px; }

.list {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em; }

.heading {
  background-color: #0009;
  color: darkgoldenrod; }

.container {
  background-color: black; }

.p {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center; }

.quad {
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
  font-size: xx-large;
  background: blue;
  padding-bottom: 50px; }

.biking {
  text-align: left; }

.body {
  background-color: black; }

a {
  text-decoration: none; }

nav {
  font-family: monospace;
  height: 50px;
  background-color: black; }

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0; }

li {
  color: #fff;
  background: #11111180;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  padding-left: 100px;
  padding-right: 100px; }

li a {
  color: #fff; }

li:hover {
  background: green;
  cursor: pointer; }

ul li ul {
  background: #11111180;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none; }

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block; }

ul li ul li {
  clear: both;
  width: 100%; }

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav" "header header header"; }

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "activities activities activities" ". p ." "figure_1 figure_2 figure_3" "figure_4 figure_5 figure_6"; }

.activities {
  grid-area: activities; }

.p {
  grid-area: p; }

.figure_1 {
  grid-area: figure_1;
  background-image: url(../images/quad-biking..jpg);
  max-height: 100%;
  margin-left: 10px;
  width: 500px;
  height: 300px;
  background-size: cover;
  border-radius: 25px; }

.figure_2 {
  grid-area: figure_2;
  background-image: url(../images/Aquila-Private-Game-Reserve.jpg);
  background-size: cover;
  padding-right: 10px;
  border-radius: 25px; }

.figure_3 {
  grid-area: figure_3;
  background-image: url(../images/safari.jpg);
  background-size: cover;
  border-radius: 25px;
  margin-right: 10px; }

.figure_4 {
  grid-area: figure_4;
  background-image: url(../images/special-occasions-zipline-tours.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  margin-left: 10px;
  background-size: cover;
  border-radius: 25px; }

.figure_5 {
  grid-area: figure_5;
  background-image: url(../images/Crystal_Pools_Gordons_Bay.jpg);
  background-size: cover;
  border-radius: 25px; }

.figure_6 {
  grid-area: figure_6;
  background-image: url(../images/rock-pool.jpg);
  background-size: cover;
  border-radius: 25px;
  margin-right: 10px; }

.quad {
  grid-template-areas: "biking . ."; }

/*# sourceMappingURL=main.css.map */
