.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
    grid-template-areas: 
    "activities activities activities"
    "figure_1 figure_2 figure_3"
    "figure_1 figure_2 figure_3"
}
.activities {
    grid-area: activities
}

.figure_1 {
    grid-area: figure_1;
    background-image: url(../images/quad-biking..jpg);
    max-height: 100% ;

}

.figure_2 {
    grid-area: figure_2;
    background-image: url(../images/rock-pool.jpg)
}

.figure_3 {
    grid-area: figure_3;
    background-image: url(../images/safari.jpg)

}

