@media screen and (max-width: 600px) {
  body {
    background-color: transparent;
  }
  nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    width: 100%;
    background-color: transparent;
}
ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    overflow: hidden;
}


header {
  background-image: url(../images/pexelshd.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  
  background-color:  #0009;
  color: white  ;
}

.heading { 
  text-align: center;
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 100px;
  background-color: #0000004d;
  color: goldenrod;
  
}


.wild {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  letter-spacing: normal;
  background-color: #0000004d;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;

}


.arrow {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; }

}

.quad {
  background-color: gray;
  align-content: center;
  color: white;
}


.quad-biking {
  display: inline;
  margin: 0%;
  text-align: left;
  font-size: 1rem;
  background: #9494944d;

}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-template-areas: 

  "wild wild wild"
  "figure_1 figure_2 figure_3"
  "figure_4 figure_5 figure_6"
  "footer footer"
}

.quad {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr ;
  grid-template-areas: 
  "quad-biking quad-biking"
  "biking routes"

}

.quad-biking {
  grid-area: quad-biking;
  
}

.biking {
  grid-area: biking;
  background-size: cover;
}